.signup_container {
	width: 100%;
	min-height: 100vh;
	background-color: white;
	background: linear-gradient(110deg, pink 60%, purple 60%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border-radius: 10px;
}

.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: thistle;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.left h1 {
	margin-top: 0;
	color: black;
	font-size: 35px;
	align-self: center;
}

.right {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: lavenderblush;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: whitesmoke;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: red;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	color: black;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: teal;
	color: white;
	margin: 10px;
}