.navbar {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: black;
}

.navbar h1 {
	font-size: 25px;
	margin-left: 20px;
	color: black;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	border-radius: 20px;
	background-color: #e3f2fd;
	width: 120px;
	font-weight: bold;
	font-size: 19px;
	cursor: pointer;
	margin-right: 20px;
	color: black;
	padding-right: 15px;
	padding-top: 29px;
	padding-bottom: 2px;
}
a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;

  }
  a:active {
	color: black;
	background-color: transparent;
  }
