@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,200;1,300&display=swap");

/* * {
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

html {
font-size: 69%;
} */

todo-btn {
    cursor: pointer;
}

.todo-Cont {
    background-image: linear-gradient(to right,
            /* rgb(242, 112, 156),
rgb(255, 148, 114) */
            /* rgb(200, 400,80),
rgb(400,30,10) */
            rgba(31, 38, 135, 0.37),
            rgba(134, 97, 209, 0.25));

    min-height: 20%;
    height: max-content;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding-top: 4rem;
}

.cont {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 14rem 1.6fr;
    grid-gap: 0 px 0 px;
    gap: 0 px 0 px;
    grid-template-areas:
        "todo-btn-back . todo-btn-new"
        "todo-data todo-data todo-data";
    align-items: center;
    background-image: linear-gradient(to right,
            rgba(31, 38, 135, 0.37),
            rgba(134, 97, 209, 0.25));
}

.todo-btn {
    align-items: center;
    text-transform: capitalize;
    border: none;
    border-radius: 2rem;
    height: 3rem;
    width: 70%;
    color: white;
    font-weight: bold;
    background-color: black;
    /* display: flex; */
    margin: 0;
    margin-right: 80%;
    margin-left: 40%;
    padding: auto;
    display: inline-block;
}


button:active {
    background-color: black;
    box-shadow: 0 7px black;
    font-weight: bold;
    transform: translateY(4px);
    align-items: center;
    /* padding-left: 30%;
padding-right: 30%; */
    align-items: center;
}

/* .todo-btn {
display: flex;
margin: 0;
margin-right: 80%;
margin-left: 50%;
} */
.todo-btn-back,
.todo-btn-new {
    width: 10rem;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    padding-left: auto;
    margin-right: 150%;
}

.todo-btn-back {
    grid-area: todo-btn-back;
    align-items: center;
    padding-left: auto;
    margin-right: 150%;
    margin-left: 80%;
}

.todo-btn-new {
    grid-area: todo-btn-new;
    display: flex;
    justify-self: end;
}

.todo-data {
    grid-area: todo-data;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.todo-data h1 {
    margin-bottom: 3rem;
}

.todo-list-block {
    display: flex;
    /* flex-direction: column; */
}

.todo-list-block li {
    background: rgba(134, 97, 209, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 55px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    /* padding: 2rem; */
    min-height: 20rem;
    width: 10rem !important;
    margin: 0 auto 2rem;
    padding-right: 10%;
    justify-content: center;
}

.todo-list-block li .title-description {
    text-align: center;
    padding-right: 40%;
}

.todo-list-block li .title-description h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    padding-right: 40%;
}

.todo-list-block li .todo-btn-cont {
    display: flex;
    justify-content: space-between;
    padding-right: 40%;
}

.todo-list-block li .todo-btn-cont button:first-of-type {
    margin-right: 2rem;

}

.todo-list-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    gap: 3rem;
    width: 110rem;
    margin: 0 auto;
    padding-right: 40%;
}

.form-cont {
    width: 25%;
    height: 20%;
    font-size: x-large;
    text-align: center;

}

.form-cont .label {
    margin-bottom: 0.8rem;
    text-align: center;
    position: absolute;

}

.form-cont .input {
    margin-bottom: 2rem;
    margin-right: 2%;

}

.update-cont {
    position:absolute;
    padding-bottom: 5%;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.update-cont .update-todo-data {
    display: contents;
    grid-template-areas: "close" "form";
    background-color: #3e4451;
    padding: 2rem 4rem 4rem 4rem;
    border-radius: 10rem;
    color: antiquewhite;
}

.update-cont .update-todo-data .close {
    grid-area: close;
    color: black;
    font-weight: 10000;
    display: contents;
    justify-content: flex-end;
    margin-bottom: 10rem;
    cursor: pointer;

}

.update-cont .update-todo-data .todo-data {
    grid-area: form;
}

.logout {
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    /* background-image: linear-gradient(to right,
            rgba(31, 38, 135, 0.37),
            rgba(134, 97, 209, 0.25)); */


}

.logout-btn {
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: larger;
    /* background-image: linear-gradient(to right,
            rgba(31, 38, 135, 0.37),
            rgba(134, 97, 209, 0.25)); */

}